@page
@model Kiran_sAppointmentApp.Pages.DeletePatientModel
@{
}


<div class="card col-sm-4">
    <div class="card-header">
        @Model._Patient.PatientName
    </div>
    <div class="card-body">
        <img src="/images/PersonM.jpg"/>
        <p>@Model._Patient.Email</p>
        <p>@Model._Patient.Contact</p>
        <p>@Model._Patient.PatientHistory</p>
    </div>
    <div class="card-footer">
        <p>Are you confirm to delete the Patient ?

<a asp-page="DeleteConfirm" asp-route-patientId=@Model._Patient.PatientId class="btn btn-primary btn-sm">Yes</a>
<a asp-page="PatientsList" class="btn btn-danger btn-sm">No</a>
        </p>
    </div>

</div>