@page
@model Kiran_sAppointmentApp.Pages.PatientsListModel
@{
}


<p class="alert alert-primary">@ViewData["PageTitle"]   </p>

<br/>

<a asp-page="NewPatient" class="btn btn-info">New Patient</a>

<br/>

<table class="table table-bordered">
    <tr>
        <th>
            Patient Name
        </th>
        <th>
            Contact
        </th>
        <th>

Patient History</th>
<th>
    Action
</th>
<th>
    Action
</th>
<th>
    Action
</th>
    </tr>


    @foreach(var item in Model.Patients)
    {
        <tr>
            <td>@item.PatientName</td>
            <td>@item.Contact</td>
            <td>@item.PatientHistory</td>
            <td>
                <a asp-page="PatientDetail" asp-route-patientId=@item.PatientId  class="btn btn-secondary">Details</a>  </td>
        
             <td>
                <a asp-page="UpdatePatient" asp-route-patientId=@item.PatientId  class="btn btn-primary">Edit</a>  </td>
         <td>
                <a asp-page="DeletePatient" asp-route-patientId=@item.PatientId  class="btn btn-danger">Delete</a>  </td>
        
            </tr>
    }
</table>
