@page
@model Kiran_sAppointmentApp.Pages.PatientDetailModel
@{
}


@await Component.InvokeAsync("PatientDetail", new {patientID=Model._Patient.PatientId})

    <div class="card-footer">
        <a asp-page="PatientsList"  class="btn btn-primary">Back To List</a>
    </div>

</div>