@model Kiran_sAppointmentApp.Models.Patient


<div class="card col-sm-4">
    <div class="card-header">
        @Model.PatientName
    </div>
    <div class="card-body">
        <img src="/images/PersonM.jpg"/>
        <p>@Model.Email</p>
        <p>@Model.Contact</p>
        <p>@Model.PatientHistory</p>
    </div>


